header {
  margin: 2%;
  border-radius: 10px;
  background-color: #0959a3;
  color: #fff;
  padding: 10%;
  display: flex;
  height: auto;
  flex-direction: column;
}
header h1 {
  font-weight: 400;
}
header p {
  font-size: 1.1rem;
}
.green {
  color: #76fdbc;
}

header button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  padding: 10px;
  border-radius: 10px;
  background-color: #76fdbc;
  color: #2b3d4f;
}

header img {
  margin-top: 40px;
  width: 100%;
  height: auto;
}

@media (min-width: 720px) {
  header {
    padding: 5%;
    flex-direction: row;
  }
}
